body {
	background-color: LightGray;
	margin: 0;
	padding: 0;
}

div {
	border: 1px solid Chocolate;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0px auto;
	position: relative;
}


.links {
	position: absolute;
	right: 0;
	top: 25px;
	display: inline-block;
}

ul.links li {
	display: inline-block;
	margin-right: 14px;
}

ul {
	margin: 0;
	padding: 0;
}

